.advantages__text {
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .advantages {
    padding: 35px 20px 0 24px;
  }

  .advantages__text {
    @include outline;

    display: block;

    &--clone .promo__text {
      display: block;
    }
  }
}
