.advantages {
  width: 100%;
}

.advantages__wrapper {
  @include wrapper;

  max-width: 1227.5px;
  padding-left: 29px;
  padding-right: 15px;
}

.advantages__list {
  @include ul-style;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__item {
  @include outline;

  &--like {
    width: 192px;
    padding-top: 5px;
  }

  &--handshake {
    width: 175px;
    margin-left: 16px;
    padding-top: 20px;
  }

  &--settings {
    width: 235px;
    margin-right: 2px;
  }
}

.advantages__svg {
  @include wrapper;

  display: block;
  margin-bottom: 20px;

  fill: rgba($color: white, $alpha: 0.7);
}

.advantages__text {
  margin: 0;

  font-size: 15px;
  line-height: 20px;
  color: rgba($color: white, $alpha: 0.6);
  text-align: center;
}

.advantages__toggles--hidden {
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

@media (max-width: $tablet-width) {
  .advantages {
    width: 800px;
    height: 300px;
    padding: 50px;
  }

  .advantages__item {
    @include outline;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 163px;

    background-color: brown;

    &--like,
    &--handshake,
    &--settings {
      width: 230px;
    }

    &--like {
      padding-top: 5px;
    }

    &--handshake {
      margin-left: 0;
      padding-top: 20px;
    }

    &--settings {
      margin-right: 0;
    }
  }

  .advantages__pagination {
    width: 300px;
    height: 50px;
  }
}
*/
