.feedback {
  position: absolute;
  top: -186px;
  left: 25%;

  width: 580px;
  height: 580px;
  padding-top: 43px;
  padding-bottom: 38px;

  background-color: white;

  overflow: auto;
}

.feedback__headline {
  @include h2-line;

  display: block;

  margin-bottom: 29px;

  font-size: 25px;
  text-align: center;

  &::after {
    width: 0;
  }
}

.feedback__form {
  padding: 0 106px 0 74px;
}

.feedback__line {
  display: flex;
  justify-content: space-between;

  margin-bottom: 23px;
}

.feedback__item {
  display: flex;
  flex-direction: column;

  &--email {
    margin-bottom: 32px;
  }

  &--message {
    margin-bottom: 25px;
  }
}

.feedback__label {
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.4px;
}

.feedback__input {
  width: 178px;

  border: none;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.2);

  &--email,
  &--text {
    width: 100%;
  }
}

.feedback__info,
.feedback__info-link {
  font-size: 12px;
  line-height: 18px;
  color: rgba($color: black, $alpha: 0.5);
  text-align: center;
}

.feedback__info {
  margin-bottom: 37px;
}

.feedback__info-text {
  margin: 0;
}

.feedback__info-link {
  border-bottom: 1.5px dotted rgba($color: black, $alpha: 0.5);

  &:hover {
    color: black;
    border-color: black;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__btn {
  @include wrapper;
  @include font-raleway-bold;

  display: block;

  width: 230px;
  height: 60px;

  font-size: 25px;
  line-height: 50px;
  letter-spacing: 0.4px;
  color: white;

  background-color: black;
  border: none;

  overflow: auto;

  &:hover {
    cursor: pointer;

    box-shadow: 0 3px 0 0 rgba(black, 0.3);
  }

  &:active {
    opacity: 0.5;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop-help >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $desktop-width-help) {
  .feedback {
    left: 22%;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .feedback {
    top: -116px;
    left: 65px;

    width: 413px;
    height: 413px;
    padding-top: 31px;
    padding-bottom: 29px;
  }

  .feedback__headline {
    margin-bottom: 21px;

    font-size: 18px;
    line-height: 35.6px;
  }

  .feedback__form {
    padding: 0 50px 0 52px;
  }

  .feedback__line {
    margin-bottom: 15px;
  }

  .feedback__item {
    &--email {
      margin-bottom: 15px;
    }

    &--message {
      margin-bottom: 9px;
    }
  }

  .feedback__label {
    font-size: 14px;
    line-height: 35.6px;
  }

  .feedback__input {
    width: 118px;

    &--tel {
      width: 151px;
    }

    &--email,
    &--text {
      width: 100%;
    }
  }

  .feedback__info,
  .feedback__info-link {
    font-size: 10px;
    line-height: 12.82px;
  }

  .feedback__info {
    margin-bottom: 29px;
  }

  .feedback__btn {
    width: 164px;
    height: 43px;

    font-size: 16px;
    line-height: 35.6px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .feedback {
    position: static;
    top: 0;
    left: 0;

    width: 100%;
    height: 457px;
    padding-top: 40px;
  }

  .feedback__headline {
    margin-bottom: 13px;
  }

  .feedback__form {
    @include wrapper;

    width: 280px;
    padding: 0;
  }

  .feedback__line {
    margin-bottom: 12px;
  }

  .feedback__item {
    &--email {
      margin-bottom: 18px;
    }

    &--message {
      margin-bottom: 17px;
    }
  }

  .feedback__input {
    width: 117px;

    &--email,
    &--text {
      width: 100%;
    }
  }

  .feedback__info {
    margin-bottom: 33px;
  }
}
