.footer {
  width: 100%;
  min-height: 1337px;
}

.footer__title {
  display: none;
}

.footer__map,
.footer__map-iframe {
  width: 100%;
  height: 807px;
}

.footer__map {
  background-color: #ededed;
  background-image: url("../img/bg-map-desktop.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-desktop@2x.png");
    background-size: 1920px auto;
  }
}

.footer__map-iframe {
  border: none;
}

.footer__box {
  width: 100%;
  min-height: 530px;

  background-color: black;
  border-top: 2px solid #41cbd7;
}

.footer__wrapper {
  @include wrapper;

  position: relative;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 1180px;
  min-height: 466px;
  padding-top: 57px;
  padding-left: 5px;

  background-color: black;
}

.footer__menu-social {
  max-width: 190px;
  padding-top: 7px;
}

.footer__logo,
.footer__logo-img {
  min-width: 141px;
  max-width: 141px;
  height: 60px;
}

.footer__logo {
  @include link-hover-active;

  display: block;

  margin-bottom: 47px;
}

.footer__company {
  margin-bottom: 45px;

  font-size: 16px;
  line-height: 38px;

  color: rgba($color: #fffffe, $alpha: 0.9);
}

.footer__copyright {
  min-height: 62px;
  margin: 0;

  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: rgba($color: white, $alpha: 0.25);
  text-align: center;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .footer {
    min-height: 814px;
  }

  .footer__map,
  .footer__map-iframe {
    height: 348px;
  }

  .footer__map {
    background-image: url("../img/bg-map-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 768px auto;
    }
  }

  .footer__box {
    min-height: 466px;
  }

  .footer__wrapper {
    flex-direction: column;
    justify-content: flex-start;

    min-height: 402px;
    padding: 25px 65px 0;
  }

  .footer__menu-social {
    @include wrapper;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 23px;

    border-bottom: 1px solid rgba(white, 0.1);
  }

  .footer__logo {
    display: none;
  }

  .footer__company {
    min-width: 140px;
    max-width: 140px;
    margin: 0;

    font-size: 12px;

    color: rgba($color: #fffffe, $alpha: 0.5);
  }

  .footer__copyright {
    padding-top: 21px;

    line-height: 18px;
    color: rgba($color: white, $alpha: 0.3);
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .footer__title {
    @include h2-line;
    @include wrapper;

    display: block;

    width: 280px;

    font-size: 20px;

    &::after {
      width: 0;
    }
  }

  .footer__map,
  .footer__map-iframe {
    height: 196px;
  }

  .footer__map {
    background-image: url("../img/bg-map-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-mobile@2x.png");
      background-size: 320px auto;
    }
  }

  .footer__wrapper {
    padding: 0;
  }

  .footer__menu-social {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-bottom: 48px;

    background-color: #1a1a1a;
    border-bottom: none;
  }

  .footer__company {
    display: none;
  }

  .footer__copyright {
    @include wrapper;

    width: 185px;
    min-height: 54px;
    padding-top: 13px;

    line-height: 14px;
    color: rgba($color: white, $alpha: 0.33);
  }

  .footer__copyright-span {
    display: none;
  }
}
