.header {
  width: 100%;

  background-color: #fbfbfb;
}

.header__wrapper {
  display: flex;
  flex-wrap: no-wrap;

  max-width: 1170px;
  min-height: 100px;
  padding-top: 20px;

  @include wrapper;
}

.header__tel,
.header__btn-feedback {
  height: 45px;
  margin-top: 6px;

  overflow: auto;
}

.header__tel {
  display: flex;
  align-items: center;

  min-width: 180px;
  max-width: 180px;
  margin-left: auto;
  padding: 0 10px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #1c1c1c;

  &:hover {
    color: rgba($color: #1c1c1c, $alpha: 0.7);

    text-decoration: underline;
    text-decoration-color: $aqua;
  }

  &:active {
    color: rgba($color: #1c1c1c, $alpha: 0.4);
  }
}

.header__btn-feedback {
  min-width: 191px;
  max-width: 191px;
  margin-left: 15px;

  font-size: 16px;
  line-height: 26px;
  font-weight: 500;

  background-color: $aqua;
  border: none;

  &:hover {
    background-color: rgb(0, 255, 215);
    box-shadow: 0 2px 4.75px 0.25px rgba(0, 255, 215, 0.6);

    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .header__wrapper {
    min-height: 52px;
    padding: 8px 54px 0 64px;
  }

  .header__tel {
    min-width: 145px;
    height: 40px;
    margin-top: 0;

    font-size: 14px;
  }

  .header__btn-feedback {
    display: none;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .header__wrapper {
    min-height: 50px;
    padding: 7px 0 0;
  }

  .header__tel {
    display: none;
  }
}
