.projects {
  @include wrapper;

  max-width: 1176px;
  min-height: 670px;
  padding-top: 62px;
  padding-left: 3px;
}

.projects__title {
  @include h2-line;

  margin-bottom: 35px;

  &::after {
    right: 3px;
  }
}

.projects__list {
  @include ul-style;

  display: flex;
  flex-wrap: wrap;

  padding-bottom: 22px;
}

.projects__item {
  position: relative;

  max-width: 100%;
  min-height: 290px;
  margin-right: 0.25%;
  margin-bottom: 4px;

  background-color: black;

  &:nth-of-type(n + 5) .projects__heading {
    margin-bottom: 25px;

    font-size: 32px;
    line-height: 42px;
  }
}

.projects__item-link {
  display: block;

  width: 100%;
  min-height: 290px;
  padding: 53px 14px 30px 30px;

  background-repeat: no-repeat;

  &--small {
    max-width: 290px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 290px auto;
    }
  }

  &--big {
    max-width: 583px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 583px auto;
    }
  }

  &--stadium {
    background-image: url("../img/bg-stadium-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-stadium-desktop@2x.jpg");
    }
  }

  &--business-center {
    background-image: url("../img/bg-business-center-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-business-center-desktop@2x.jpg");
    }
  }

  &--cinema {
    background-image: url("../img/bg-cinema-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-cinema-desktop@2x.jpg");
    }
  }

  &--shopping-complex {
    background-image: url("../img/bg-shopping-complex-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-shopping-complex-desktop@2x.jpg");
    }
  }

  &--ojsc {
    padding-top: 41px;
    padding-right: 95px;

    background-image: url("../img/bg-ojsc-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-ojsc-desktop@2x.jpg");
    }
  }

  &--theater {
    padding-top: 41px;
    padding-right: 85px;

    background-image: url("../img/bg-theater-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-theater-desktop@2x.jpg");
    }
  }
}

.projects__heading,
.projects__text {
  margin: 0;

  color: white;
}

.projects__heading {
  min-height: 48px;
  margin-bottom: 22px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.projects__text {
  font-size: 15px;
  line-height: 22px;

  color: rgba($color: white, $alpha: 0.6);
}

.projects__link {
  position: absolute;
  bottom: 11px;
  right: 10px;

  display: block;

  width: 46px;
  height: 34px;

  text-align: center;

  border: 2px solid rgba($color: white, $alpha: 0.34);

  cursor: pointer;

  &:hover {
    background-color: $aqua;
  }

  &:hover .projects__link-svg {
    fill: black;
  }

  &:active {
    opacity: 0.5;
  }
}

.projects__link-svg {
  margin-top: 12px;

  fill: rgba($color: white, $alpha: 0.34);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .projects {
    max-width: 768px;
    padding: 49px 22px 0;
  }

  .projects__title {
    @include h2-tablet;

    margin-bottom: 41px;
  }

  .projects__item {
    min-height: 180px;
    margin-bottom: 10px;

    &:nth-of-type(n + 5) .projects__heading {
      margin-bottom: 15px;

      font-size: 24px;
      line-height: 24px;
    }
  }

  .projects__item-link {
    @include link-hover-active;

    min-height: 180px;
    padding: 45px 100px 30px 44px;

    &--small,
    &--big {
      max-width: 100%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-size: 100% auto;
      }
    }

    &--stadium {
      background-image: url("../img/bg-stadium-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-stadium-tablet@2x.jpg");
      }
    }

    &--business-center {
      background-image: url("../img/bg-business-center-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-business-center-tablet@2x.jpg");
      }
    }

    &--cinema {
      background-image: url("../img/bg-cinema-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-cinema-tablet@2x.jpg");
      }
    }

    &--shopping-complex {
      background-image: url("../img/bg-shopping-complex-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-shopping-complex-tablet@2x.jpg");
      }
    }

    &--ojsc {

      background-image: url("../img/bg-ojsc-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-ojsc-tablet@2x.jpg");
      }
    }

    &--theater {
      padding-right: 60px;

      background-image: url("../img/bg-theater-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-theater-tablet@2x.jpg");
      }
    }
  }

  .projects__heading {
    min-height: auto;
    margin-bottom: 15px;
  }

  .projects__text {
    max-height: 80px;

    font-size: 18px;
  }

  .projects__text-ojsc,
  .projects__link {
    display: none;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .projects {
    padding: 46px 20px 0;
  }

  .projects__title {
    @include wrapper;

    width: 280px;
    margin-bottom: 15px;

    font-size: 20px;
  }

  .projects__list {
    flex-direction: column;
  }

  .projects__item {
    min-height: 100px;

    &:nth-of-type(n + 5) .projects__heading {
      margin-bottom: 0;

      font-size: 16px;
      line-height: 24px;
    }
  }

  .projects__item-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100px;
    height: 100%;
    padding: 0;

    background-size: cover;
  }

  .projects__heading {
    @include font-raleway-bold;

    max-height: 100%;
    margin-bottom: 0;
    padding: 10px;

    font-size: 16px;
    line-height: 24px;
  }

  .projects__text {
    display: none;
  }

  .projects__img {
    width: 100%;
    height: 100px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile-projects >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width-projects) {
  .projects__item-link {
    &--stadium {
      background-image: url("../img/bg-stadium-mobile.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-stadium-mobile@2x.jpg");
      }
    }

    &--business-center {
      background-image: url("../img/bg-business-center-mobile.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-business-center-mobile@2x.jpg");
      }
    }

    &--cinema {
      background-image: url("../img/bg-cinema-mobile.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-cinema-mobile@2x.jpg");
      }
    }

    &--shopping-complex {
      background-image: url("../img/bg-shopping-complex-mobile.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-shopping-complex-mobile@2x.jpg");
      }
    }

    &--ojsc {
      background-image: url("../img/bg-ojsc-mobile.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-ojsc-mobile@2x.jpg");
      }
    }

    &--theater {
      background-image: url("../img/bg-theater-mobile.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-theater-mobile@2x.jpg");
      }
    }
  }
}
