.projects {
  @include wrapper;

  max-width: 1170px;
  min-height: 670px;
}

.projects__title {
  position: relative;

  margin: 0;
  margin-bottom: 35px;

  font-size: 30px;
  line-height: 50px;
  font-weight: 900;
  font-family: "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 0;

    width: 871px;
    height: 2px;
    background-color: black;
  }
}

.projects__list {
  @include ul-style;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects__item {
  position: relative;

  max-width: 100%;
  height: 290px;
  margin-bottom: 4px;

  &:last-of-type {
    margin-bottom: 22px;
  }

  &:nth-of-type(n + 5) .projects__heading {
    margin-bottom: 25px;

    font-size: 32px;
    line-height: 42px;
  }
}

.projects__box {
  position: absolute;

  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 53px 14px 30px 30px;

  overflow: auto;

  &--ojsc {
    padding-top: 41px;
    padding-right: 95px;
  }

  &--theater {
    padding-top: 41px;
    padding-right: 85px;
  }
}

.projects__heading,
.projects__text {
  margin: 0;

  color: white;
}

.projects__heading {
  min-height: 48px;
  margin-bottom: 22px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.projects__text {
  max-height: 135px;

  font-size: 15px;
  line-height: 22px;

  color: rgba($color: white, $alpha: 0.6);

  overflow: auto;
}

.projects__link {
  position: absolute;
  bottom: 11px;
  right: 10px;

  display: block;

  width: 46px;
  height: 34px;

  text-align: center;

  border: 2px solid rgba($color: white, $alpha: 0.34);

  &:hover {
    background-color: $aqua;
  }

  &:hover .projects__link-svg {
    fill: black;
  }

  &:active {
    opacity: 0.5;
  }
}

.projects__link-svg {
  margin-top: 12px;

  fill: rgba($color: white, $alpha: 0.34);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .projects {
    max-width: 768px;
    padding: 0 22px;
  }

  .projects__title {
    margin-bottom: 41px;

    font-size: 26px;
    line-height: inherit;

    &::after {
      width: 0;
    }
  }

  .projects__item {
    height: 180px;
    margin-bottom: 10px;

    &:nth-of-type(n + 5) .projects__heading {
      margin-bottom: 15px;

      font-size: 24px;
      line-height: 24px;
    }
  }

  .projects__box {
    padding: 45px 100px 30px 44px;

    &--theater {
      padding-right: 60px;
    }
  }

  .projects__heading {
    min-height: auto;
    margin-bottom: 15px;
  }

  .projects__text {
    max-height: 80px;

    font-size: 18px;
  }

  .projects__text-ojsc,
  .projects__link {
    display: none;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .projects {
    padding: 0 20px;
  }

  .projects__title {
    @include wrapper;

    width: 280px;
    margin-bottom: 15px;

    font-size: 20px;
  }

  .projects__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .projects__item {
    width: 280px;
    height: 100px;

    &:nth-of-type(n + 5) .projects__heading {
      margin-bottom: 0;

      font-size: 16px;
      line-height: 24px;
    }
  }

  .projects__box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 0;
  }

  .projects__heading {
    max-height: 100%;
    margin-bottom: 0;
    padding: 10px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Raleway", "Arial", sans-serif;
  }

  .projects__text {
    display: none;
  }
}
