.promo {
  width: 100%;
  min-height: 935px;

  background-color: black;
  background-image: url("../img/bg-banner-desktop.jpg");
  background-repeat: no-repeat;
  background-position: right -100px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-banner-desktop@2x.jpg");
    background-size: 1920px auto;
  }
}

.promo__wrapper {
  @include wrapper;

  max-width: 1170px;
  padding-top: 151px;
}

.promo__heading {
  @include font-raleway-black;

  margin: 0;
  margin-bottom: 23px;

  font-size: 72px;
  color: #fffffe;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.promo__text-mobile {
  display: none;
}

.promo__text {
  width: 87%;
  margin: 0;
  margin-bottom: 53px;

  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: #fffffe;
}

.promo__text-color {
  color: $aqua;
}

.promo__swap-item {
  &:last-of-type {
    padding-bottom: 96px;
  }
}

.promo__btn {
  min-width: 300px;
  max-width: 300px;
  height: 56px;
  margin-right: 18px;
  margin-bottom: 18px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;

  overflow: auto;
  cursor: pointer;

  &--services {
    background-color: $aqua;
    border: none;
  }

  &--feedback {
    color: white;

    background-color: transparent;
    border: 1px solid rgb(151, 255, 244);
    box-shadow: 0 2px 2.7px 0.3px rgba($color: $aqua, $alpha: 0.27);
  }

  &:hover {
    box-shadow: 0 2px 6.3px 0.7px rgba($color: $aqua, $alpha: 0.65);
  }

  &:active {
    opacity: 0.5;
  }
}

.promo__text-box,
.promo__advantages-box {
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .promo {
    min-height: auto;

    background: none;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: none;
    }
  }

  .promo__bg {
    width: 100%;
    min-height: 600px;

    background-color: black;
    background-image: url("../img/bg-banner-tablet.jpg");
    background-repeat: no-repeat;
    background-position: top right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-banner-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .promo__wrapper {
    padding: 125px 75px 0 83px;
  }

  .promo__heading {
    width: 650px;
    margin-bottom: 18px;

    font-size: 38px;
    letter-spacing: 1.8px;
  }

  .promo__text {
    width: 600px;
    margin-bottom: 86px;

    font-size: 16px;
    line-height: inherit;
    font-weight: inherit;
  }

  .promo__btn {
    min-width: 290px;
    max-width: 290px;
    height: 55px;
    margin-right: 17px;

    font-size: 16px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .promo__bg {
    min-height: 465px;

    background-image: url("../img/bg-banner-mobile.jpg");
    background-position: top right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-banner-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }

  .promo__wrapper {
    padding: 125px 0 0 0;

    text-align: center;
  }

  .promo__swap-box {
    display: flex;
    flex-direction: column;
  }

  .promo__swap-item {
    &:first-of-type {
      order: 2;

      background-color: white;
    }

    &:last-of-type {
      padding-bottom: 42px;
    }
  }

  .promo__heading,
  .promo__text-mobile,
  .promo__text {
    @include wrapper;
  }

  .promo__heading {
    width: 85%;
    margin-bottom: 21px;

    font-size: 16px;
    letter-spacing: 0.9px;
  }

  .promo__text-mobile {
    display: block;

    width: 85%;
    margin-bottom: 59px;

    font-size: 16px;
    color: #fffffe;
  }

  .promo__text {
    width: 100%;
    padding: 35px 23px 30px;

    font-size: 12px;
    line-height: 18px;
    color: black;
    text-align: left;

    background-color: white;
  }

  .promo__text-color {
    &--mobile {
      color: inherit;
    }
  }

  .promo__btn {
    min-width: 280px;
    max-width: 280px;
    height: 60px;
    margin-right: 0;
    margin-bottom: 11px;

    font-size: 16px;
  }
}
