.promo {
  width: 100%;

  background-color: black;
  background-image: url("../img/bg-banner-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-banner-desktop@2x.jpg");
    background-size: 1920px auto;
  }
}

.promo__wrapper {
  @include wrapper;
  @include outline;

  max-width: 1170px;
  min-height: 935px;
  padding-top: 151px;
}

.promo__heading {
  margin: 0;
  margin-bottom: 23px;

  font-size: 72px;
  font-weight: 900;
  font-family: "Raleway", "Arial", sans-serif;
  color: #fffffe;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.promo__text-mobile {
  display: none;
}

.promo__text {
  @include outline;

  width: 87%;
  margin: 0;
  margin-bottom: 53px;

  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: #fffffe;
}

.promo__text-color {
  color: $aqua;
}

.promo__btn-services,
.promo__btn-feedback {
  min-width: 300px;
  max-width: 300px;
  height: 56px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;

  overflow: auto;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 6.3px 0.7px rgba($color: $aqua, $alpha: 0.65);
  }

  &:active {
    opacity: 0.5;
  }
}

.promo__btn-services {
  margin-right: 18px;

  background-color: $aqua;
  border: none;
}

.promo__btn-feedback {
  color: white;

  background-color: transparent;
  border: 1px solid rgb(151, 255, 244);
  box-shadow: 0 2px 2.7px 0.3px rgba($color: $aqua, $alpha: 0.27);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .promo {
    background-image: url("../img/bg-banner-tablet.jpg");
    background-position: right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-banner-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .promo__wrapper {
    min-height: 600px;
    padding: 125px 75px 0 83px;
  }

  .promo__heading {
    width: 650px;
    margin-bottom: 18px;

    font-size: 38px;
    letter-spacing: 1.8px;
  }

  .promo__text {
    width: 600px;
    margin-bottom: 86px;

    font-size: 16px;
    line-height: inherit;
    font-weight: inherit;
  }

  .promo__btn-services,
  .promo__btn-feedback {
    min-width: 290px;
    max-width: 290px;
    height: 55px;

    font-size: 16px;
  }

  .promo__btn-services {
    margin-right: 17px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .promo {
    background-image: url("../img/bg-banner-mobile.jpg");
    background-position: right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-banner-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }

  .promo__wrapper {
    min-height: 465px;
    padding: 128px 20px 0;

    text-align: center;
  }

  .promo__heading {
    @include wrapper;

    width: 280px;
    margin-bottom: 21px;

    font-size: 16px;
    letter-spacing: 0.9px;
  }

  .promo__text-mobile {
    display: block;

    margin: 0;
    margin-bottom: 58px;

    font-size: 16px;
    color: #fffffe;
  }

  .promo__text {
    @include wrapper;

    display: none;

    width: 100%;
    margin-bottom: 40px;

    font-size: 12px;
    line-height: 18px;
    color: black;
    text-align: left;

    background-color: white;
  }

  .promo__text-color {
    &--mobile {
      color: inherit;
    }
  }

  .promo__btn-services,
  .promo__btn-feedback {
    min-width: 280px;
    max-width: 280px;
    height: 60px;
    margin-bottom: 10px;

    font-size: 16px;
  }

  .promo__btn-services {
    margin-right: 0;
  }
}
