.social__list {
  @include ul-style;

  display: flex;
  flex-wrap: wrap;

  width: 150px;
  min-height: 26px;
}

.social__item {
  margin-right: 31px;

  &:nth-of-type(2n) {
    margin-right: 25px;
  }

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  cursor: pointer;

  &:hover .social__link-svg {
    fill: white;
  }

  &:active .social__link-svg {
    fill: $aqua;

    opacity: 0.5;
  }
}

.social__link-svg {
  fill: #666666;

  &--vk {
    position: relative;
    top: -3px;

    width: 35px;
    height: 35px;
  }

  &--tw {
    width: 27px;
    height: 27px;
  }

  &--fb {
    width: 26px;
    height: 26px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .social {
    margin-left: auto;
  }

  .social__list {
    width: 95px;
    min-height: 17px;
  }

  .social__item {
    margin-right: 17px;

    &:nth-of-type(2n) {
      margin-right: 17px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .social__link-svg {
    &--vk {
      width: 23px;
      height: 23px;
    }

    &--tw {
      width: 17px;
      height: 17px;
    }

    &--fb {
      width: 17px;
      height: 17px;
    }
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .social {
    @include wrapper;

    width: 280px;
  }

  .social__list {
    width: 140px;
    min-height: 29px;
  }

  .social__link-svg {
    &--vk {
      width: 40px;
      height: 40px;
    }

    &--tw {
      width: 30px;
      height: 30px;
    }

    &--fb {
      width: 29px;
      height: 29px;
    }
  }
}
