@mixin wrapper {
  margin: 0 auto;
}

@mixin ul-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin logo {
  display: block;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin h2-line {
  position: relative;

  margin: 0;

  font-size: 30px;
  line-height: 50px;
  font-weight: 900;
  font-family: "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 0;

    width: 871px;
    height: 2px;
    background-color: black;
  }
}

@mixin h2-tablet {
  font-size: 26px;
  line-height: inherit;

  &::after {
    width: 0;
  }
}

@mixin link-hover-active {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
