$desktop-width-help-1024: 1209px;
$tablet-width: 1023px; // 1023-768
$mobile-width: 767px; // 767-320
$mobile-width-projects: 450px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$aqua: #00ffd7;
$main-tablet-bg: #fefdff;
